body {
    background-color: gainsboro;
}
table {
    border: 1px solid darkgrey;
    border-collapse: collapse;
}
.links-container {
    display: -webkit-flex;
    -webkit-flex-direction: column;
    display: flex;
    flex-direction: column;
    background-color: gainsboro;
}
.links-container-line {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}
.quick-link {
    background-color: lightsteelblue;
    border-radius: 10px;
    border: 1px solid darkgrey;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

th, td {
    border: 1px solid lightgrey;
    text-align: center;
    padding: 2px;
}
td.steps {
	text-align: center;
}
table.notes {
	border: none;
}
th.notes {
    text-align: left;
	border: none;
	padding-left: 10px;
	padding-right: 10px;
}
td.notes {
    text-align: left;
	border: none;
}
td.section {
	text-align: left;
	padding-top: 10px;
	font-size: 125%;
}
.columns {
	display: -webkit-flex;
	-webkit-flex-direction: row;
	display: flex;
	flex-direction: row;
	background-color: gainsboro;
}
.column-1 {
	background-color: whitesmoke;
	border-radius: 10px;
	width: 100%;
	border: 1px solid darkgrey;
	padding: 5px;
}
.column-2 {
	background-color: whitesmoke;
	border-radius: 10px;
	width: 50%;
	border: 1px solid darkgrey;
	padding: 5px;
}
.column-3 {
	background-color: whitesmoke;
	border-radius: 10px;
	width: 33%;
	border: 1px solid darkgrey;
	padding: 5px;
}
.column-4 {
	background-color: whitesmoke;
	border-radius: 10px;
	width: 25%;
	border: 1px solid darkgrey;
	padding: 5px;
}
em.foreign {
}
